<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/Style.css">
</head>
<body class="bg">
<div class="vertical-center">
    <div class="container ">
        <div class="row  align-items-center">
            <div class="col-1 text-center"></div>
            <div class="col-10 container-fluid bg-light bg-opacity-90 rounded-5">
                <div class="m-2 shadow-lg rounded-5 text-center text fs-1 fw-bolder">NEW USER</div>
                <form method="POST" action="create_user" class="needs-validation" th:object="${obj}">
<!--                    <div th:if="${#fields.hasAnyErrors()}">-->
<!--                        <ul>-->
<!--                            <li th:each="err : ${#fields.allErrors()}" th:text="${err}" />-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                    -->
                    <div class="m-5 form-floating">
                        <input class="form-control" id="userName" name="userName" type="text"
                               th:value="${obj.getUserName()}" placeholder="user name"/>
                        <label for="userName">USER NAME:</label>
<!--                        <div th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">Name Error</div>-->
                    </div>
                    <div class="m-5 form-floating">
                        <input class="form-control" id="fullName" name="fullName" type="text"
                               th:value="${obj.getFullName()}" placeholder="IVAN IVANOV"/>
                        <label for="fullName">FULL NAME:</label>
                    </div>
                    <div class="m-5 form-floating">
                        <input class="form-control" id="password" name="password" type="password"
                               th:value="${obj.getPassword()}" placeholder="password"/>
                        <label for="password">PASSWORD:</label>
                    </div>
                    <div class="m-5 form-floating">
                        <input class="form-control" id="email" name="email" type="email"
                               th:value="${obj.getEmail()}" placeholder="user@mail.com"/>
                        <label for="email">EMAIL:</label>
                    </div>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end ">
                    <div class="ms-5 mb-5 input-group ">
                        <div class="input-group-text" id="roleIdLabel">Role:</div>
                        <select id="role_id" name="role_id" class="form-select me-5" aria-describedby="roleIdLabel">
                            <option value="1" th:selected="(${role_id} == 1)">USER</option>
                            <option value="2" th:selected="(${role_id} == 2)">CREATOR</option>
                            <option value="3" th:selected="(${role_id} == 3)">EDITOR</option>
                            <option value="4" th:selected="(${role_id} == 4)">ADMIN</option>
                        </select>
                    </div>
                    </div>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end ">
                    <div class="mx-5 mb-5 form-switch">
                        <input class="form-check-input me-2" id="enabled" name="enabled" type="checkbox"
                               th:checked="${obj.isEnabled()}"/>
                        <label for="enabled" class="form-check-label">ENABLED</label>
                    </div>
                    </div>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end ">
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                        <button class="btn btn-secondary ms-2 sticky-bottom me-5" type="button"
                                onclick="location.href='users'">Back
                        </button>
                    </div>
                </form>
            </div>
            <div class="col-1 mr-auto"></div>
        </div>
    </div>
</div>
</body>
</html>