<div id="list_data" class="">
    <table class="list table  table-hover" >
        <thead class="sticky-top " >
        <div class="fs-6 table-group-divider" style="" ></div>
        <tr class="table-header " style=""  >
            <th class="col-1"></th>
            <th class="col-10 fw-bolder ">
                <div class="row flex-nowrap justify-content-end">
                </div>
                <div class="input-group">
                    <div class="input-group-text" id="searchLabel">search:</div>
                    <input name="search"
                           id="search"
                           class="form-control"
                           aria-describedby="searchLabel"
                           th:onchange="'refreshUsers('
                               + ${user_pageSize} + ', '
                               + ${user_currentPage} + ', this.value)'"
                           th:value="${search}">
                </div>
            </th>
            <th>
                <div class="row flex-nowrap justify-content-end">
                    <div class="col mr-auto">
                        <a type="button" class="btn btn-sm btn-primary d-flex flex-nowrap "
                           onclick="location.href='create_user'">
                            <i class="fa-solid  fa-plus fs-3 "></i>
                        </a>
                    </div>
                    <div class="col mr-auto">
                        <a type="button" class="btn btn-sm btn-primary d-flex flex-nowrap "
                           th:onclick="'refreshUsers('
                            + ${user_pageSize} + ', ' + ${user_currentPage} + ')'">
                            <i class="fa-solid fa-refresh fs-3 "></i>
                            <div class="d-flex flex-nowrap justify-content-center"></div>
                        </a>
                    </div>
                </div>
            </th>
        </tr>
        <tr class="table-header shadow-sm  bg-opacity-100 table-dark  ">
            <th class="col-1">
                <div class="fw-bold">ID</div>
            </th>
            <th class="col-10 fw-bolder ">
                <div class="row flex-nowrap justify-content-end">
                    <div class="col mr-auto">
                        <div class="fw-bold">Full name</div>
                    </div>
                </div>
            </th>
            <th>
                <div class="row flex-nowrap justify-content-end">
                    <div class="col mr-auto">
                    </div>
                    <div class="col mr-auto">
                    </div>
                </div>
            </th>
        </tr>
        </thead>
        <tbody class="content">
        <tr th:each="a : ${user_list}">
            <td th:text="${a.getId()}"></td>
            <td>
                <div class="">
                    <div class="" th:text="${a.getFullName()}"></div>
                </div>
            </td>
            <td>
                <div class="row flex-nowrap justify-content-end">
                    <div class="col w-100">
                        <a type="button" class="btn btn-sm btn-primary justify-content-center d-flex flex-nowrap"
                           th:href="@{/edit_user(id=${a.getId()})}">
                            <i class="fa-solid fa-up-right-from-square "></i>
                            <div class="d-flex flex-nowrap justify-content-center"></div>
                        </a>
                    </div>
                    <div class="col mr-auto">
                        <a type="button" class="btn btn-sm btn-primary justify-content-center d-flex flex-nowrap"
                           th:href="@{/delete_user(id=${a.getId()})}">
                            <i class="fa-solid fa-remove "></i>
                            <div class=" "></div>
                        </a>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <div>
        <div class="btn-toolbar justify-content-center ">
            <div class="btn-group">
                <div class="input-group-text">
                    Current page: [[${user_currentPage}]] of [[${user_totalPages}]]
                </div>
            </div>
            <div class="btn-group ">
                <div class="input-group">
                    <div class="input-group-text" id="pageSizeLabel">Records per page:</div>
                    <select name="pageSize" id="pageSize"
                            class="form-select" aria-describedby="pageSizeLabel"
                            th:onchange="'refreshUsers(this.value, ' + ${user_currentPage} + ')'">
                        <option value="5" th:selected="(${user_pageSize} == 5)">5</option>
                        <option value="10" th:selected="(${user_pageSize} == 10)">10</option>
                        <option value="15" th:selected="(${user_pageSize} == 15)">15</option>
                        <option value="20" th:selected="(${user_pageSize} == 20)">20</option>
                    </select>
                </div>
                <div th:if="${user_currentPage != 1}" class="btn-group">|</div>
                <a th:if="${user_currentPage != 1}"
                   th:onclick="'refreshUsers(' + ${user_pageSize} + ', 1)'"
                   class="btn btn-info rounded-1 align-self-center">First</a>
                <div th:if="${user_currentPage != 1}" class="btn-group align-self-center">|</div>
                <a th:if="${user_currentPage > 1}"
                   th:onclick="'refreshUsers(' + ${user_pageSize} + ', ' + ${user_currentPage - 1} + ')'"
                   class="btn btn-info rounded-1 align-self-center">Previous</a>
                <div class="btn-group align-self-center">|</div>
                <a th:if="${user_currentPage < user_totalPages}"
                   th:onclick="'refreshUsers(' + ${user_pageSize} + ', ' + ${user_currentPage + 1} + ')'"
                   class="btn btn-info rounded-1 align-self-center">Next</a>
                <div th:if="${user_currentPage != user_totalPages}" class="btn-group align-self-center">|</div>
                <a th:if="${user_currentPage != user_totalPages}"
                   th:onclick="'refreshUsers(' + ${user_pageSize} + ', ' + ${user_totalPages} + ')'"
                   class="btn btn-info rounded-1 align-self-center">Last</a>
                <div class="btn-group align-self-center">|</div>
            </div>
        </div>
        <div class="row"></div>
    </div>
    <script>
        function refreshUsers(pageSize, pageNo, searchValue) {
            let totalItems = [[${user_totalItems}]];
            refreshData('refresh_users',
                'list_data', pageSize, pageNo, totalItems, searchValue);
        }
    </script>
</div>