<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Movie</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/Style.css">
    <link rel="stylesheet" href="js/jquery.transfer/icon_font/css/icon_font.css">
    <link rel="stylesheet" href="js/jquery.transfer/css/jquery.transfer.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"
            crossorigin="anonymous"></script>
    <script src="js/jquery.transfer/js/jquery.transfer.js"></script>
    <script src="js/movie_persons.js"></script>
</head>
<body class="bg ">
<div class="vertical-center">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-1 text-center"></div>
            <div class="col-10 container-fluid bg-light bg-opacity-90 rounded-5">
                <div class="m-3 p-3 shadow-lg rounded-5 text-center text fs-1 fw-bolder">EDIT MOVIE</div>
                <form method="POST" action="edit_movie" class="needs-validation" th:object="${movieDto}">

                    <div class="row">
                        <div class="col m-3 form-floating">
                            <input class="form-control" id="id" name="id" type="text" th:value="${movieDto.getId()}" readonly/>
                            <label for="id" class="form-label ms-2">ID:</label>
                        </div>
                        <div class="col m-3 form-floating">
                            <input class="form-control" id="title" name="title" type="text" th:value="${movieDto.getTitle()}"
                                   th:classappend="(${#fields.hasErrors('title')} ? 'is-invalid' : 'is-valid')"/>
                            <label for="title" class="form-label ms-2">TITLE:</label>
                            <div class="invalid-feedback" th:text="${#fields.errors('title')}" />
                        </div>

                        <div class="col m-3 form-floating">
                            <input class="form-control d-flex flex-nowrap" id="originalTitle" name="originalTitle" type="text" th:value="${movieDto.getOriginalTitle()}"
                                   th:classappend="(${#fields.hasErrors('originalTitle')} ? 'is-invalid' : 'is-valid')"/>
                            <label for="originalTitle" class="form-label ms-2">ORIGINAL TITLE:</label>
                            <div class="invalid-feedback" th:text="${#fields.errors('originalTitle')}" />
                        </div>
                    </div>

                    <div class="col m-3 form-floating">
                        <input class="form-control" id="tagline" name="tagline" type="text" th:value="${movieDto.getTagline()}"
                               th:classappend="(${#fields.hasErrors('tagline')} ? 'is-invalid' : 'is-valid')"/>
                        <label for="tagline" >TAG LINE:</label>
                        <div class="invalid-feedback" th:text="${#fields.errors('tagline')}" />
                    </div>
                    <div class="row">
<!--                        <div class="m-5 form-floating">-->
<!--                            <select name="originalLanguageCode" id="originalLanguageCode"-->
<!--                                    class="form-select" aria-describedby="pageSizeLabel" required>-->
<!--                                <option></option>-->
<!--                                <option th:value=" ${a != null ? a : null}"-->
<!--                                        th:text="${a != null ? a.getName() : null}"-->
<!--                                        th:selected="(${a != null && movieDto.getOriginalLanguageCode() != null && a.getCode() == movieDto.getOriginalLanguageCode().getCode()})"-->
<!--                                        th:each="a : ${languages}" ></option>-->
<!--                            </select>-->
<!--                            <label for="originalLanguageCode">ORIGINAL LANGUAGE CODE:</label>-->
<!--                        </div>-->
                        <div class="col m-3 form-floating">
                            <input class="form-control" id="homepage" name="popularity" type="url" th:value="${movieDto.getHomepage()}"
                                   th:classappend="(${#fields.hasErrors('popularity')} ? 'is-invalid' : 'is-valid')"/>
                            <label for="homepage" class="form-label ms-2" >HOMEPAGE:</label>
                            <div class="invalid-feedback" th:text="${#fields.errors('homepage')}" />
                        </div>
                        <div class="col m-3 form-floating">
                            <input class="form-control" id="trailerLink" name="trailerLink" type="text" th:value="${movieDto.getTrailerLink()}"
                                   th:classappend="(${#fields.hasErrors('trailerLink')} ? 'is-invalid' : 'is-valid')"/>
                            <label for="trailerLink"  class="form-label ms-2">TRAILER LINK :</label>
                            <div class="invalid-feedback" th:text="${#fields.errors('trailerLink')}" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col m-3 form-floating">
                            <input class="form-control" id="runtime" name="runtime" type="range" min="0" max="180" step="1" value="0" required th:value="${movieDto.getRuntime()}"
                                   th:classappend="(${#fields.hasErrors('runtime')} ? 'is-invalid' : 'is-valid')"
                                   oninput="this.nextElementSibling.innerHTML = this.value"/>
                            <label for="runtime"  class="form-label  text-end mb-2"></label>
                            <label for="runtime"  class="form-label ms-2">DURATION:</label>
                            <div class="invalid-feedback" th:text="${#fields.errors('runtime')}" />
                        </div>
                        <div class="col m-3 form-floating">
                            <input class="form-control" id="popularity" name="popularity" type="range" min="0" max="9.9" step="0.1" value="0" required th:value="${movieDto.getPopularity()}"
                                   th:classappend="(${#fields.hasErrors('popularity')} ? 'is-invalid' : 'is-valid')"
                                   oninput="this.nextElementSibling.innerHTML = this.value"/>
                            <label for="popularity"  class="form-label  text-end mb-2"></label>
                            <label for="popularity"  class="form-label ms-2">POPULARITY:</label>
                            <div class="invalid-feedback" th:text="${#fields.errors('popularity')}" />
                        </div>
                        <div class="col m-3 form-floating">
                            <input class="form-control" id="imdbId" name="imdbId" type="text" th:value="${movieDto.getImdbId()}"
                                   th:classappend="(${#fields.hasErrors('imdbId')} ? 'is-invalid' : 'is-valid')"/>
                            <label for="imdbId"  class="form-label ms-2" >IMDB ID:</label>
                            <div class="invalid-feedback" th:text="${#fields.errors('imdbId')}" />
                        </div>
                        <div class="col m-3 form-floating">
                            <input class="form-control" id="releaseDate" name="releaseDate" type="date" th:value="${movieDto.getReleaseDate()}"
                                   th:classappend="(${#fields.hasErrors('releaseDate')} ? 'is-invalid' : 'is-valid')"/>
                            <label for="releaseDate" class="form-label ms-2" >RELEASE DATE:</label>
                            <div class="invalid-feedback" th:text="${#fields.errors('releaseDate')}" />
                        </div>
                        <div class="form-floating">
                            <input id="personIds" name="personIds" type="hidden" value=""/>
                            <div class="transfer" id="persons-transfer"></div>
                        </div>
                    </div>
                    <div class="col m-3 form-floating">
                        <input class="form-control" id="overview" name="overview" type="text" th:value="${movieDto.getOverview()}"
                               th:classappend="(${#fields.hasErrors('overview')} ? 'is-invalid' : 'is-valid')"/>
                        <label for="overview" >OVERVIEW:</label>
                        <div class="invalid-feedback" th:text="${#fields.errors('overview')}" />
                    </div>
                    <!--                        <ul th:if="${#fields.hasErrors('*')}">-->
                    <!--                            <li th:each="err : ${#fields.detailedErrors('*')}" th:text="${err.getFieldName()} + ${err.getMessage()}">Input is incorrect</li>-->
                    <!--                        </ul>-->
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end  mb-3">
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                        <button class="btn btn-secondary ms-2 sticky-bottom me-5 " type="button"
                                onclick="location.href='movies'">Back
                        </button>
                    </div>
                </form>
            </div>
            <div class="col-1 mr-auto"></div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    var personsStr = /*[[${persons}]]*/ '';
    let persons = JSON.parse(personsStr);
    let selectedPersons = JSON.parse('[[${selectedPersons}]]');
    createListBox("name","id","Available Persons", "Movie's persons","name", persons, selectedPersons, "personIds");
</script>
</body>
</html>