<div id="list_data" class="">
    <table class="list table  table-hover">
        <thead class="sticky-top ">
            <div class="fs-6 table-group-divider" style="" ></div>
            <tr class="table-header" style="">
                <th class="col-1"></th>
                <th class="col-10 fw-bolder ">
                    <div class="row flex-nowrap justify-content-end">
                    </div>
                    <div class="input-group">
                        <div class="input-group-text" id="searchLabel">search:</div>
                        <input name="search"
                               id="search"
                               class="form-control"
                               aria-describedby="searchLabel"
                               th:onchange="'refreshMovies('
                                           + ${movie_pageSize} + ', '
                                           + ${movie_currentPage} + ', this.value)'"
                               th:value="${movie_search}">
                    </div>
                </th>
                <th class="col-1"></th>
                <th class="col-1"></th>
                <th class="col-1"></th>
                <th>
                    <div class="row flex-nowrap justify-content-end">
                        <div class="col mr-auto">
                            <a type="button" class="btn btn-sm btn-primary d-flex flex-nowrap "
                               onclick="location.href='create_movie'">
                                <i class="fa-solid  fa-plus fs-3 "></i>
                            </a>
                        </div>
                        <div class="col mr-auto">
                            <a type="button" class="btn btn-sm btn-primary d-flex flex-nowrap "
                               th:onclick="'refreshMovies('
                                        + ${movie_pageSize} + ', ' + ${movie_currentPage} + ')'">
                                <i class="fa-solid fa-refresh fs-3 "></i>
                                <div class="d-flex flex-nowrap justify-content-center"></div>
                            </a>
                        </div>
                    </div>
                </th>
            </tr>
            <tr class="table-header shadow-sm  bg-opacity-100 table-dark  ">
                <th class="col-1">
                    <div class="fw-bold">ID</div>
                </th>
                <th class="col-10 fw-bolder ">
                    <div class="row flex-nowrap justify-content-end">
                        <div class="col mr-auto">
                            <div class="fw-bold">Title</div>
                        </div>
                    </div>
                </th>

                <th class="col-10 fw-bolder ">
                    <div class="row flex-nowrap justify-content-end">
                        <div class="col mr-auto">
                            <div class="fw-bold">Imdb Id</div>
                        </div>
                    </div>
                </th>
                <th class="col-10 fw-bolder ">
                    <div class="row flex-nowrap justify-content-end">
                        <div class="col mr-auto">
                            <div class="fw-bold">Original language</div>
                        </div>
                    </div>
                </th>
                <th class="col-10 fw-bolder ">
                    <div class="row flex-nowrap justify-content-end">
                        <div class="col mr-auto">
                            <div class="fw-bold">Release date</div>
                        </div>
                    </div>
                </th>
                <th>
                    <div class="row flex-nowrap justify-content-end">
                        <div class="col mr-auto">
                        </div>
                        <div class="col mr-auto">
                        </div>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody class="content">
           <tr th:each="a : ${movie_list}">
                <td th:text="${a.getId()}"></td>
                <td>
                    <div class="">
                        <div th:if="${a.getTrailerLink() != null}">
                            <a class="" th:href="${a.getTrailerLink()}" th:text="${a.getTitle()}"></a>
                        </div>
                        <div th:if="${a.getTrailerLink() == null}">
                            <div class="" th:text="${a.getTitle()}"></div>
                        </div>
                    </div>
                </td>
                <td th:text="${a.getImdbId()}"></td>
                <td th:text="${a.getOriginalLanguageCode() != null ? a.getOriginalLanguageCode().getName() : ''}"></td>
                <td th:text="${a.getReleaseDate()}"></td>
                <td>
                    <div class="row flex-nowrap justify-content-end">
                        <div class="col w-100">
                            <a type="button" class="btn btn-sm btn-primary justify-content-center d-flex flex-nowrap"
                               th:href="@{/edit_movie(id=${a.id})}">
                                <i class="fa-solid fa-up-right-from-square "></i>
                                <div class="d-flex flex-nowrap justify-content-center"></div>
                            </a>
                        </div>
                        <div class="col mr-auto">
                            <a type="button" class="btn btn-sm btn-primary justify-content-center d-flex flex-nowrap"
                               th:href="@{/delete_movie(id=${a.getId()})}">
                                <i class="fa-solid fa-remove "></i>
                                <div class=" "></div>
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        <div class="btn-toolbar justify-content-center ">
            <div class="btn-group">
                <div class="input-group-text">
                    Current page: [[${movie_currentPage}]] of [[${movie_totalPages}]]
                </div>
            </div>
            <div class="btn-group ">
                <div class="input-group">
                    <div class="input-group-text" id="pageSizeLabel">Records per page:</div>
                    <select name="pageSize" id="pageSize"
                            class="form-select" aria-describedby="pageSizeLabel"
                            th:onchange="'refreshMovies(this.value, ' + ${movie_currentPage} + ')'">
                        <option value="5" th:selected="(${movie_pageSize} == 5)">5</option>
                        <option value="10" th:selected="(${movie_pageSize} == 10)">10</option>
                        <option value="15" th:selected="(${movie_pageSize} == 15)">15</option>
                        <option value="20" th:selected="(${movie_pageSize} == 20)">20</option>
                    </select>
                </div>
                <div th:if="${movie_currentPage != 1}" class="btn-group">|</div>
                <a th:if="${movie_currentPage != 1}"
                   th:onclick="'refreshMovies(' + ${movie_pageSize} + ', 1)'"
                   class="btn btn-info rounded-1 align-self-center">First</a>
                <div th:if="${movie_currentPage != 1}" class="btn-group align-self-center">|</div>
                <a th:if="${movie_currentPage > 1}"
                   th:onclick="'refreshMovies(' + ${movie_pageSize} + ', ' + ${movie_currentPage - 1} + ')'"
                   class="btn btn-info rounded-1 align-self-center">Previous</a>
                <div class="btn-group align-self-center">|</div>
                <a th:if="${movie_currentPage < movie_totalPages}"
                   th:onclick="'refreshMovies(' + ${movie_pageSize} + ', ' + ${movie_currentPage + 1} + ')'"
                   class="btn btn-info rounded-1 align-self-center">Next</a>
                <div th:if="${movie_currentPage != movie_totalPages}" class="btn-group align-self-center">|</div>
                <a th:if="${movie_currentPage != movie_totalPages}"
                   th:onclick="'refreshMovies(' + ${movie_pageSize} + ', ' + ${movie_totalPages} + ')'"
                   class="btn btn-info rounded-1 align-self-center">Last</a>
                <div class="btn-group align-self-center">|</div>
            </div>
        </div>
        <div class="row"></div>
    </div>
</div>

<script>
    function refreshMovies(pageSize, pageNo, searchValue) {
        let totalItems = [[${movie_totalItems}]];
        refreshData('refresh_movies',
            'list_data', pageSize, pageNo, totalItems, searchValue);
    }
</script>