.blockquote-8 {
    position: relative;
    padding: 16px 24px;
    margin: 16px 46px;
    font-size: 16px;
    text-align: center;
}
.blockquote-8:before,
.blockquote-8:after {
    position: absolute;
    color: #BFE2FF;
    font-size: 100px;
    font-family: Times, sans-serif;
    line-height: 100px;
}
.blockquote-8:before {
    content: '“';
    left: -30px;
    top: -10px;
}
.blockquote-8:after {
    content: '”';
    right: -30px;
    bottom: -10px;
}
.blockquote-8 cite {
    color: #337AB7;
    font-size: 15px;
    padding-top: 10px;
    display: block;
}