html {
    /*-webkit-animation: bgcolor 1s infinite;*/
    /*animation: bgcolor 1s infinite;*/
    /*-webkit-animation-direction: alternate;*/
    /*animation-direction: alternate;*/
}
html
{
    /*background: url('../images/background/background.jpg') no-repeat center center fixed;*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/
    background-color: #fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -webkit-animation-duration: 100s;
    -moz-animation-duration: 100s;
    -o-animation-duration: 100s;
    -ms-animation-duration: 100s;
    animation-duration: 100s;
    -webkit-animation-name: bgswap;
    -moz-animation-name: bgswap;
    -o-animation-name: bgswap;
    -ms-animation-name: bgswap;
    animation-name: bgswap;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    animation-timing-function: linear;
}
@keyframes bgswap {

    0% {background-image: url('../images/background/background_batman.jpg'), url('../images/background/background_gardians.jpg')}
    8% {background-image: url('../images/background/background_gardians.jpg'), url('../images/background/background_ironmen.jpg')}
    17% {background-image: url('../images/background/background_ironmen.jpg'), url('../images/background/background_marvel.jpg')}
    25% {background-image: url('../images/background/background_marvel.jpg'), url('../images/background/background_marvel2.jpg')}
    33% {background-image: url('../images/background/background_marvel2.jpg'), url('../images/background/background_marvel3.jpg')}
    42% {background-image: url('../images/background/background_marvel3.jpg'), url('../images/background/background_registration.jpg')}
    50% {background-image: url('../images/background/background_registration.jpg'), url('../images/background/background_spiderman_2.jpg')}
    58% {background-image: url('../images/background/background_spiderman_2.jpg'), url('../images/background/background_spiderman_3.jpg')}
    67% {background-image: url('../images/background/background_spiderman_3.jpg'), url('../images/background/background_spiderman_4.jpg')}
    75% {background-image: url('../images/background/background_spiderman_4.jpg'), url('../images/background/background_spiderman_404.jpg')}
    83% {background-image: url('../images/background/background_spiderman_404.jpg'), url('../images/background/background_spiderman.jpg')}
    92% {background-image: url('../images/background/background_spiderman.jpg'), url('../images/background/background.jpg')}
    100% {background-image: url('../images/background/background.jpg'), url('../images/background/background_batman.jpg')}
}

@-webkit-keyframes bgswap {

    0% {background-image: url('../images/background/background_batman.jpg'), url('../images/background/background_gardians.jpg')}
    8% {background-image: url('../images/background/background_gardians.jpg'), url('../images/background/background_ironmen.jpg')}
    17% {background-image: url('../images/background/background_ironmen.jpg'), url('../images/background/background_marvel.jpg')}
    25% {background-image: url('../images/background/background_marvel.jpg'), url('../images/background/background_marvel2.jpg')}
    33% {background-image: url('../images/background/background_marvel2.jpg'), url('../images/background/background_marvel3.jpg')}
    42% {background-image: url('../images/background/background_marvel3.jpg'), url('../images/background/background_registration.jpg')}
    50% {background-image: url('../images/background/background_registration.jpg'), url('../images/background/background_spiderman_2.jpg')}
    58% {background-image: url('../images/background/background_spiderman_2.jpg'), url('../images/background/background_spiderman_3.jpg')}
    67% {background-image: url('../images/background/background_spiderman_3.jpg'), url('../images/background/background_spiderman_4.jpg')}
    75% {background-image: url('../images/background/background_spiderman_4.jpg'), url('../images/background/background_spiderman_404.jpg')}
    83% {background-image: url('../images/background/background_spiderman_404.jpg'), url('../images/background/background_spiderman.jpg')}
    92% {background-image: url('../images/background/background_spiderman.jpg'), url('../images/background/background.jpg')}
    100% {background-image: url('../images/background/background.jpg'), url('../images/background/background_batman.jpg')}
}

@keyframes css  { to { visibility: hidden; } }
.hide-animation{ animation: css 0s 3s forwards; }

#awards
 {
     background: url('../images/oscars.png')  fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
 }
table
{
}
.bg
{
    background-color: rgba(255,255,255,0%);
}
.content
{
    background-color: rgba(255,255,255,80%);
}
.shadow {
    text-shadow: rgb(3, 3, 3) -1px 4px 9px;
}
.white {
    color: rgb(255, 255, 255);
}
.table-header {
    border-radius: 10px 10px 5px 5px;
    background-color: rgba(0,50,73,100%);

}

.bg-opacity-90 {
    --bs-bg-opacity: 0.90
}

/*
.btn-separator:after {
    content: ' ';
    display: block;
    float: left;
    background: #ADADAD;
    margin: 0 10px;
    height: 34px;
    width: 1px;
}*/
/*.btn {*/
/*    background-color: rgba(255, 255, 255, 80%);   !important;*/

/*}*/
.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
}

.sidebar {
    /*height: 100%;*/
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 6px;
}

/* Style sidebar links */
.sidebar a {
    padding: 8px 8px 4px 8px;
    text-decoration: none;
    font-size: 20px;
    /*color: #818181;*/
    display: block;
}

/* Style links on mouse-over */
.sidebar a:hover {
    color: #f1f1f1;
}



/* Style the main content */
.main {
    margin-left: 100px; padding: 0px 10px;
}





.aside-info {
    /*width: 250px;*/
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    padding-top: 16px;
}

footer
{
    bottom: 0;
    right: 0;
    left: 0;

    z-index: 5;
}

/* Style aside-info links */
.aside-info a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    display: block;
}

/* Style links on mouse-over */
.aside-info a:hover {
    color: #f1f1f1;
}

/* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
@media screen and (max-height: 450px) {
    .aside-info {padding-top: 15px;}
    .aside-info a {font-size: 18px;}
}