<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Person</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/Style.css">
</head>
<body class="bg">
<div class="vertical-center">
    <div class="container ">
        <div class="row  align-items-center">
            <div class="col-1 text-center"></div>
            <div class="col-10 container-fluid bg-light bg-opacity-90 rounded-5">
                <div class="m-2 shadow-lg rounded-5 text-center text fs-1 fw-bolder">NEW PERSON</div>
                <form method="POST" action="create_person" class="">
                    <div class="m-5 form-floating">
                        <input class="form-control" id="Name" name="Name" type="text" placeholder="Tom" required/>
                        <label for="Name">Full name:</label>
                    </div>
                    <div class="m-5 form-floating">
                        <select name="Department" id="Department"
                                class="form-select" aria-describedby="pageSizeLabel" required>
                            <option></option>
                            <option th:value=" ${a.getId()}" th:text="${a.getDepartment()}" th:each="a : ${departments}" ></option>
                        </select>
                        <label for="Department">Department:</label>
                    </div>
                    <div class="m-5 form-floating">
                        <input class="form-control" id="Birthday" name="Birthday" type="date" placeholder="Birthday"/>
                        <label for="Birthday">Birthday:</label>
                    </div>
                    <div class="m-5 form-floating">
                        <input class="form-control" id="AlsoKnownAs" name="AlsoKnownAs" type="text" placeholder="Also Known As"/>
                        <label for="AlsoKnownAs">Also Known As:</label>
                    </div>
                    <div class="m-5 form-floating">
                        <select name="Gender" id="Gender"
                                class="form-select" aria-describedby="pageSizeLabel">
                                <option></option>
                                <option th:value=" ${a.getId()}" th:text="${a.getGenderName()}" th:each="a : ${genders}"></option>
                        </select>
                        <label for="Gender">Gender:</label>
                    </div>
                    <div class="m-5 form-floating">
                        <input class="form-control" id="Biography" name="Biography" type="text" placeholder="Biography"/>
                        <label for="Biography">Biography:</label>
                    </div>
<!--                    <div class="m-5 form-floating">-->
<!--                        <input class="form-control" id="ProfilePath" name="ProfilePath" type="text" placeholder="Profile Path"/>-->
<!--                        <label for="ProfilePath">Profile Path:</label>-->
<!--                    </div>-->
                    <div class="m-5">
                        <label for="Popularity">Popularity:</label>
                        <div class="text-center">0</div>
                        <input class="form-range" id="Popularity" name="Popularity" type="range" min="0" max="9.9" step="0.1" placeholder="Popularity" value="0" required
                               oninput="this.previousElementSibling.innerHTML = this.value">
                    </div>
                    <div class="m-5 form-floating">
                        <input class="form-control" id="PlaceOfBirth" name="PlaceOfBirth" type="text" placeholder="Place Of Birth"/>
                        <label for="PlaceOfBirth">Place Of Birth:</label>
                    </div>
                    <div class="m-5 form-floating">
                        <input class="form-control" id="ImdbId" name="ImdbId" type="text" placeholder="nm0123456" pattern="nm[0-9]{7}" />
                        <label for="ImdbId">IMDB ID (for example - nm0123456):</label>
                    </div>
                    <div class="m-5 form-floating">
                        <input class="form-control" id="Homepage" name="Homepage" type="text" placeholder="Home Page"/>
                        <label for="Homepage">Home Page:</label>
                    </div>
                    <div class="m-5 form-floating">
                        <select name="CountryCode" id="CountryCode"
                                class="form-select">
                            <option></option>
                            <option th:value=" ${a.getCode()}" th:text="${a.getCountry()}" th:each="a : ${countries}" ></option>
                        </select>
                        <label for="CountryCode">Country:</label>
                    </div>
                    <div class="m-5 form-floating">
                        <input class="form-control" id="AdditionalInfo" name="AdditionalInfo" type="text" placeholder="Additional Info"/>
                        <label for="AdditionalInfo">Additional Info:</label>
                    </div>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end ">
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                        <button class="btn btn-secondary ms-2 sticky-bottom me-5" type="button"
                                onclick="location.href='persons'">Back
                        </button>
                    </div>
                </form>
            </div>
            <div class="col-1 mr-auto"></div>
        </div>
    </div>
</div>
</body>
</html>