<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Person</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/Style.css">
</head>
<body class="bg">
<div class="vertical-center">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-1 text-center"></div>
            <div class="col-10 container-fluid bg-light bg-opacity-90 rounded-5">
                <div class="m-2 shadow-lg rounded-5 text-center text fs-1 fw-bolder">EDIT PERSON</div>
                <form method="POST" action="edit_person" th:object="${obj}">
                    <div class="m-5  form-floating">
                        <input class="form-control"
                               id="id" name="id" type="text" th:value="${obj.getId()}" readonly/>
                        <label for="id" class="">ID:</label>

                    </div>
                    <div class="m-5 form-floating">
                        <input class="form-control" id="Name" name="Name" type="text" placeholder="Tom" required  th:value="${obj.getName()}"/>
                        <label for="Name">Full name:</label>
                    </div>
                    <div class="m-5 form-floating">
                        <select name="departmentId" id="departmentId"
                                class="form-select" aria-describedby="pageSizeLabel" required>
                            <option></option>
                            <option th:value="${a.getId()}" th:text="${a.getDepartment()}" th:each="a : ${departments}"
                                    th:selected="${a != null && obj.getDepartment() != null && a.getId() == obj.getDepartment().getId()}" ></option>
                        </select>
                        <label for="departmentId">Department:</label>
                    </div>
                    <div class="m-5 form-floating">
                        <input class="form-control" id="Birthday" name="Birthday" type="date" placeholder="Birthday"  th:value="${obj.getBirthday()}"/>
                        <label for="Birthday">Birthday:</label>
                    </div>
                    <div class="m-5 form-floating">
                        <input class="form-control" id="AlsoKnownAs" name="AlsoKnownAs" type="text" placeholder="Also Known As" th:value="${obj.getAlsoKnownAs()}"/>
                        <label for="AlsoKnownAs">Also Known As:</label>
                    </div>
                    <div class="m-5 form-floating">
                        <select name="genderId" id="genderId"
                                class="form-select" aria-describedby="pageSizeLabel">
                            <option></option>
                            <option th:value=" ${a.getId()}" th:text="${a.getGenderName()}" th:each="a : ${genders}"
                                    th:selected="${a != null && obj.getGender() != null && a.getId() == obj.getGender().getId()}"></option>
                        </select>
                        <label for="genderId">Gender:</label>
                    </div>
                    <div class="m-5 form-floating">
                        <input class="form-control" id="Biography" name="Biography" type="text" placeholder="Biography"  th:value="${obj.getBiography()}"/>
                        <label for="Biography">Biography:</label>
                    </div>
                    <!--                    <div class="m-5 form-floating">-->
                    <!--                        <input class="form-control" id="ProfilePath" name="ProfilePath" type="text" placeholder="Profile Path"/>-->
                    <!--                        <label for="ProfilePath">Profile Path:</label>-->
                    <!--                    </div>-->
                    <div class="m-5">
                        <label for="Popularity">Popularity:</label>
                        <div class="text-center">0</div>
                        <input class="form-range" id="Popularity" name="Popularity" type="range" min="0" max="9.9" step="0.1" placeholder="Popularity" th:value="${obj.getPopularity()}" required
                               oninput="this.previousElementSibling.innerHTML = this.value">
                    </div>
                    <div class="m-5 form-floating">
                        <input class="form-control" id="PlaceOfBirth" name="PlaceOfBirth" type="text" placeholder="Place Of Birth" th:value="${obj.getPlaceOfBirth()}"/>
                        <label for="PlaceOfBirth">Place Of Birth:</label>
                    </div>
                    <div class="m-5 form-floating">
                        <input class="form-control" id="ImdbId" name="ImdbId" type="text" placeholder="nm0123456" pattern="nm[0-9]{7}" th:value="${obj.getImdbId()}" />
                        <label for="ImdbId">IMDB ID (for example - nm0123456):</label>
                    </div>
                    <div class="m-5 form-floating">
                        <input class="form-control" id="Homepage" name="Homepage" type="text" placeholder="Home Page" th:value="${obj.getHomepage()}" />
                        <label for="Homepage">Home Page:</label>
                    </div>
                    <div class="m-5 form-floating">
                        <select name="countryCode" id="countryCode"
                                class="form-select">
                            <option></option>
                            <option th:value=" ${a.getCode()}" th:text="${a.getCountry()}" th:each="a : ${countries}"
                                    th:selected="${a != null && obj.getCountryCode() != null && a.getId() == obj.getCountryCode().getId()}"></option>
                        </select>
                        <label for="CountryCode">Country:</label>
                    </div>
                    <div class="m-5 form-floating">
                        <input class="form-control" id="AdditionalInfo" name="AdditionalInfo" type="text" placeholder="Additional Info"  th:value="${obj.getAdditionalInfo()}"/>
                        <label for="AdditionalInfo">Additional Info:</label>
                    </div>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end ">
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                        <button class="btn btn-secondary ms-2 sticky-bottom me-5" type="button"
                                onclick="location.href='persons'">Back
                        </button>
                    </div>
                </form>
            </div>
            <div class="col-1 mr-auto"></div>
        </div>
    </div>
</div>
</body>
</html>