<aside class="aside-info right">
    <div class="card rounded-5">
        <div class="card-header">
            Quote
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>Tony Stark: "When they come, and they will, for you…"
                    Loki: "I have an army."
                    Tony Stark: "We have a Hulk.".</p>
                <footer class="blockquote-footer"> <cite title="Source Title">The Avengers (2012)</cite>
                </footer>
            </blockquote>
        </div>
    </div>
    <div id="carouselExample" class="carousel slide mt-1">
        <div class="carousel-inner rounded-5 shadow-lg">
            <div class="carousel-item"><img class="d-block w-100" src="images/aside/oscar.gif" ></div>
            <div class="carousel-item"><img class="d-block w-100" src="images/aside/spiderman.jpg" ></div>
            <div class="carousel-item"><img class="d-block w-100" src="images/aside/Groot 2.jpg" ></div>
            <div class="carousel-item active"><img class="d-block w-100" src="/images/aside/Groot.gif" ></div>
            <div class="carousel-item"><img class="d-block w-100" src="images/aside/Guardian raccoon 2.jpg" ></div>
            <div class="carousel-item"><img class="d-block w-100" src="images/aside/Guardian raccoon.jpeg" ></div>
            <div class="carousel-item"><img class="d-block w-100" src="images/aside/Guardian racoon 3.png" ></div>
            <div class="carousel-item"><img class="d-block w-100" src="images/aside/Guardians 2.jpeg" ></div>
            <div class="carousel-item"><img class="d-block w-100" src="images/aside/Guardians.jpeg" ></div>
            <div class="carousel-item"><img class="d-block w-100" src="images/aside/Hulk.jpeg" ></div>
            <div class="carousel-item"><img class="d-block w-100" src="images/aside/Ironman.jpg" ></div>
            <div class="carousel-item"><img class="d-block w-100" src="images/aside/Marvel 2.jpeg" ></div>
            <div class="carousel-item"><img class="d-block w-100" src="images/aside/Marvel 3.jpg" ></div>
            <div class="carousel-item"><img class="d-block w-100" src="images/aside/Marvel 4.jpg" ></div>
            <div class="carousel-item"><img class="d-block w-100" src="images/aside/Marvel.jpeg" ></div>
            <div class="carousel-item"><img class="d-block w-100" src="images/aside/Spiderman 2.jpeg" ></div>
            <div class="carousel-item"><img class="d-block w-100" src="images/aside/Spiderman.jpeg" ></div>
            <div class="carousel-item"><img class="d-block w-100" src="images/aside/Strange.jpeg" ></div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</aside>