<footer class="pt-auto mt-auto mt-5">
    <div class="mt-5"></div>
    <div class="bg-light container-fluid bg-opacity-75 ">
        <div class="row align-items-end justify-content-between">
            <div class="col"></div>
            <div class="col">
                <div class="d-flex justify-content-end">
                    <div class="align-self-center fw-bolder fs-5 mx-3">SUBSCRIBE TO OUR NEWSLETTER</div>
                    <form>
                        <div class="d-flex justify-content-end align-self-center mt-3 ">
                            <label for="newsletter" class="visually-hidden">Email address</label>
                            <input id="newsletter" type="text" class="form-control  me-3" placeholder="Email address">
                            <button class="btn btn-primary" type="button">Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row justify-content-between border-top">
            <div class="col  py-4 ">
                <a type="button" class="btn btn-floating btn-light" href="https://www.facebook.com/">
                    <i class="fab fa-facebook-f fa-2x" style="color: #3b5998;"></i>
                </a>
                <a type="button" class="btn btn-floating btn-light" href="https://twitter.com/">
                    <i class="fab fa-twitter fa-2x" style="color: #55acee;"></i>
                </a>
                <a type="button" class="btn btn-floating btn-light" href="https://www.google.com/">
                    <i class="fab fa-google fa-2x" style="color: #dd4b39;"></i>
                </a>
                <a type="button" class="btn btn-floating btn-light" href="https://www.instagram.com/">
                    <i class="fab fa-instagram fa-2x" style="color: #ac2bac;"></i>
                </a>
                <a type="button" class="btn btn-floating btn-light" href="https://vk.com/">
                    <i class="fab fa-vk fa-2x" style="color: #4c75a3;"></i>
                </a>
                <a type="button" class="btn btn-floating btn-light" href="https://www.youtube.com/">
                    <i class="fab fa-youtube fa-2x" style="color: #ed302f;"></i>
                </a>
                <a type="button" class="btn btn-floating btn-light" href="https://www.whatsapp.com/">
                    <i class="fab fa-whatsapp fa-2x" style="color: #25d366;"></i>
                </a>
            </div>
            <div class="col pt-3 mt-4 text-end text-dark">
                <p>&copy; 2023 Copyright:
                    <a href="">Movie Catalog</a>. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>