<nav class="sidebar rounded-bottom rounded-2">
    <div>
        <a type="button" class="btn btn-dark m-2 align-self-center" href="home" >
            <i class="fa-solid fa-home fa-2x text-info align-self-center justify-content-center" style="color: lightblue;"></i>
            <div class="d-flex flex-nowrap justify-content-center align-self-center">Home</div>
        </a>
        <a type="button" class="btn btn-dark m-2 " href="movies">
            <i class="fa-solid fa-tv fa-2x text-info " style="color: lightblue;"></i>
            <div class="d-flex flex-nowrap justify-content-center">Movies</div>
        </a>
        <a type="button" class="btn btn-dark m-2 " href="persons">
            <i class="fa-solid fa-mask fa-2x text-info " style="color: lightblue;"></i>
            <div class="d-flex flex-nowrap justify-content-center">Persons</div>
        </a>
        <a type="button" class="btn btn-dark m-2 " href="users">
            <i class="fa-solid fa-user fa-2x text-info " style="color: lightblue;"></i>
            <div class="d-flex flex-nowrap justify-content-center">Users</div>
        </a>
        <a type="button" class="btn btn-dark m-2 " href="quotes">
            <i class="fa-solid fa-quote-left fa-2x text-info " style="color: lightblue;"></i>
            <div class="d-flex flex-nowrap justify-content-center">Quotes</div>
        </a>
        <a type="button" class="btn btn-dark m-2 " href="awards">
            <i class="fa-solid fa-award fa-2x text-info " style="color: lightblue;"></i>
            <div class="d-flex flex-nowrap justify-content-center">Awards</div>
        </a>
    </div>
</nav>